.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.home-video-wrapper {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

h1.home {
  color: #1A4341;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 2px 2px #ff3c00;
}

.home {
  padding-bottom: 100px;
}

.dream_holiday {
  font-size: 80px;
  font-weight: 600;
  width: 750px;
  // margin-top: 100px;
  color: #BAD5DB;
  text-shadow: 2px 2px black;
  margin-right: 100px;
}

.dependence_living {
  object-fit: cover;
}

.sub_video {
  margin-top: 100px;
  display: flex;
}

.all_images {
  display: flex;
  margin-top: 20px;
}

.white_background{
  background-color: #BAD5DB;
  // padding: 0px 5px 5px 0px;
  border-radius: 4%;
}

.top_images {
  // padding-bottom: 5px;
}

.img_1 {
  margin-right: 5px;
  // margin-left: 100px;
  border-radius: 4% 0% 0% 4%;
}

.img_2 {
  margin-bottom: 5px;
}

.img_4 {
  border-radius: 0% 4% 0% 0%;
  margin-bottom: 5px;
  margin-left: 5px;
}

.img_5 {
  border-radius: 0% 0% 4% 0%;
  margin-left: 5px;
}

.sub_text {
  color: #BAD5DB;
  text-shadow: 1px 1px black;
  font-size: 20px;
  margin-top: 30px;
}

.our_locations {
  text-align: center;
  margin-top: 190px;
  color: #BAD5DB;
  margin-bottom: 200px;
}

.our_locations h1{
  font-size: 60px;
  font-weight: 800;
  text-shadow: 2px 2px black;
}

.principle_card {
  width: 350px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 3px, rgba(0, 0, 0, 0.08) 0px 6px 6px, rgba(0, 0, 0, 0.04) 0px -2px 3px;
  border-radius: 20% 0% 20% 0%;
  transition: transform 500ms;
  text-decoration: none;

  &:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 8px, rgba(0, 0, 0, 0.12) 0px 14px 15px, rgba(0, 0, 0, 0.07) 0px -5px 7px;
    transition: transform 800ms ease-in-out;
  }
}

.pigonier_card {
  width: 350px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 3px, rgba(0, 0, 0, 0.08) 0px 6px 6px, rgba(0, 0, 0, 0.04) 0px -2px 3px;
  border-radius: 20% 0% 20% 0%;
  transition: transform 250ms;

  &:hover{
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 8px, rgba(0, 0, 0, 0.12) 0px 14px 15px, rgba(0, 0, 0, 0.07) 0px -5px 7px;
  transition: transform 800ms ease-in-out;
  }
}

.location_cards {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.location_cards h2 {
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  color: #BAD5DB;
  text-shadow: 1px 1px black;
}

.location_cards p {
  font-size: 16px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #BAD5DB;
  text-shadow: 1px 1px black;
}

.cards_img {
  object-fit: cover;
  border-radius: 20% 0% 0% 0%;
}

.near_me {
  text-align: center;
  margin-top: 150px;
  color: #BAD5DB;
  text-shadow: 2px 2px black;
  margin-bottom: 120px;
}

.near_me h1{
  font-size: 60px;
  font-weight: 800;
}

#map {
  margin-top: 50px;
  margin-bottom: 20px;
  border:2px solid black;
  border-radius: 20px;
}

.contrainer {
  justify-content: center;
}

* {box-sizing:border-box}

.cards_near {
  height: 220px;
  width: 200px;
  margin: 20px;
}

.cards_near_container {
  display: flex;
  justify-content: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  height: 210px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: block;
  opacity: 1;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.img_near {
  object-fit: cover;
  border-radius: 10%;
}

.top {
  margin-top: 50px;
}

@media screen and (max-width:800px) {
  h1.home {
  font-size: 50px;
  }

  .dream_holiday {
  font-size: 30px;
  margin-right: 20px;
  }

  .sub_text {
  font-size: 15px;
  }

  .img_1 {
  margin-right: 2px;
  width: 60px;
  height: 150px;
  }

  .img_2 {
  margin-bottom: 2px;
  width: 60px;
  height: 74px;
  }

  .img_3 {
  width: 60px;
  height: 74px;
  }

  .img_4 {
  margin-bottom: 2px;
  margin-left: 2px;
  width: 60px;
  height: 74px;
  }

  .img_5 {
  margin-left: 2px;
  width: 60px;
  height: 74px;
  }

  .principle_card {
  width: 150px;
  height: 360px;
  }

  .pigonier_card {
  width: 150px;
  height: 360px;
  }

  .cards_img {
  width: 150px;
  height: 200px;
  }

  .location_cards h2 {
  font-size: 20px;
  }

  .location_cards p {
  font-size: 13px;
  }

  .cards_near {
  height: 50px;
  width: 50px;
  margin: 20px;
  }

  .img_near{
  height: 50px;
  width: 50px;
  }
}
