<h1 class="dream_holiday">hello</h1>
<h1>Tristan sucks</h1>
<div class="home-video-wrapper">
    <%= video_tag "chateau_summon_SparkVideo.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
    <h1 class="home"> Marcousin </h1>
</div>
